svg#ks-rating-citywire(viewBox="0 0 166 36", width="166", height="36", xmlns="http://www.w3.org/2000/svg")
	title Citywire rating
	g(fill="none", fill-rule="evenodd")
		path.citywire-rating__bg-right(d="M113 0h53v36h-59l6-36z", fill="#c43361")
		path.citywire-rating__bg-left(d="M0 0h110l-6 36H0V0z", fill="#231f33")
		path.citywire-rating__bg-name(d="M89.812 10.342c-3.87 0-5.988 2.264-6.572 5.842l-.73 3.943c-.512 3.432.51 6.207 4.746 6.28 2.63 0 4.016-.292 5.184-.804l.51-3.14c-1.313.658-2.992 1.023-4.6.877-1.605-.073-2.336-.876-1.97-2.63l.22-1.46h7.155l.657-3.577c.438-3.067-.95-5.33-4.6-5.33zm1.168 4.893l-.292 1.533h-3.65l.218-1.387c.365-1.825 1.168-2.41 2.263-2.41s1.752.804 1.46 2.265zM15.112 26.04h4.162l2.63-15.333h-4.09L15.112 26.04M10.147 10.342c-3.87 0-5.988 2.045-6.572 5.623l-.95 4.965c-.51 3.14.73 5.477 4.382 5.477 3.943 0 6.06-.95 6.864-5.258h-3.577c-.22 1.314-.803 2.19-2.264 2.117-1.315 0-1.46-1.095-1.242-2.337l.877-4.892c.29-1.9 1.095-2.483 2.19-2.483 1.022 0 1.533.51 1.314 1.753h3.504c.657-3.286-.657-4.966-4.527-4.966M64.4 26.04h4.163l2.702-15.333h-4.162L64.4 26.04M77.617 13.336l.438-2.63h-4.09l-2.7 15.335h4.09l1.46-8.396c.145-1.022.583-1.752 1.094-2.044 1.095-.584 2.263-.438 3.504-.292l.877-4.893c-1.46-.073-3.14.366-4.673 2.92M32.856 22.756l-.584 3.285c-1.68.294-3.14.367-4.162.294-1.388-.073-4.528-.365-3.724-4.966L25.7 13.7h-2.264l.512-2.993h2.263l.805-4.673h4.162l-.804 4.673h3.14l-.51 2.994h-3.214l-1.242 7.522c-.22 1.17.146 1.826 1.607 1.826.656 0 1.606-.073 2.7-.292M67.03 6.034L58.923 26.04h-3.286l-1.387-9.49-3.87 9.49h-3.43l-1.46-12.193-6.938 17.087h-3.724l2.044-5.11-2.482-15.117h4.09l1.02 8.617 3.506-8.617h5.915l.95 8.69 3.578-8.69h3.213l1.388 8.617 5.112-13.29h3.87", fill="#fff")
		text.citywire-rating__rated
			tspan(x="120", y="23")
				| AAA
