svg#ks-icon-mstar-star(viewBox="0 0 33 30", width="33", height="30", xmlns="http://www.w3.org/2000/svg")
	title Morningstar star
	g(transform="translate(-671.000000, -526.000000)")
		path.ks-icon-mstar(d="M690.7 536 L687.5 526 L684.3 536 L671.8 535.9 L681.9 543.2 L677.3 555.2 L687.5 547.8 L696.8 554.3 L693.1 543.2 L703.2 535.9 L690.7 536 Z", fill="#000")
